<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>heading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62998CC01C118F8F001C6282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62998CD41C118F8F001C6282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62998CDF1C118F8F001C6282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
